@import "./header";
@import "./footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#delete-product-btn {
  width: 100px;
}

#line {
  height: 3px;
  width: 95%;
  background-color: #000;
  margin: 20px auto;
}

.items-container {
  display: flex;
  height: 100%;
  width: 90%;
  justify-content: center;
  margin: 0 auto;
}

.items-list {
  display: flex;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  list-style-type: none;
  margin-left: 100px;
  border: solid 1px #000;
}

.delete-checkbox {
  position: relative;
  bottom: 30px;
  right: 100px;
}
